
* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background: url("../IMAGENS/FRosa.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #5a3d46;
}

header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background: linear-gradient(90deg, #f8b4c4, #e07a9a);
  box-shadow: 0 8px 20px rgba(154,64,95,0.1);
  border-radius:0 0 18px 18px;
}

.logo {
  display:flex;
  align-items:center;
  font-weight:bold;
  color:#fff;
  font-size:1.6em;
}

.logo-img {
  width:50px;
  height:50px;
  border-radius:50%;
  margin-right:10px;
  border:2px solid #ffe4ea;
}

nav a {
  color:#fff;
  margin:0 12px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

nav a:hover, nav a.active { color:#ffc8d6; }


.hero {
  text-align:center;
  padding:80px 20px;
  border-radius:18px;
  margin:20px;
}

.hero h1 { font-size:2.8em; margin-bottom:15px; }
.hero p { font-size:1.2em; }


.info {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:40px 20px;
}

.info-card {
  padding:25px;
  border-radius:18px;
  transition: transform 0.3s;
}

.info-card:hover { transform: translateY(-5px); }

.info-card h2 { color:#9b3f5f; margin-bottom:10px; }


footer {
  text-align:center;
  padding:20px;
  background:#f8b4c4;
  color:#fff;
  margin-top:30px;
  border-radius:18px 18px 0 0;
}
