@font-face {
    font-family: power;
    src: url(../FONTES/NewYork\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: gelo;
    src: url(../FONTES/apple_garamond_Fontes_para_Texto_simples/AppleGaramond-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #fddde6;
  color: #5a3d46;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 60px; 
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../IMAGENS/FRosa.jpg") no-repeat center bottom;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(90deg, #f8b4c4, #e07a9a);
  box-shadow: 0 4px 10px rgba(154, 64, 95, 0.1);
  border-radius: 0 0 18px 18px;
}

.logo,
main h1,
main h2,
.blocos h1,
.blocos h2,
.subtitulos h2 {
  font-family: 'power', serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #9b3f5f;
}


.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.6em;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ffe4ea;
}

nav a {
  color: #fff;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #ffc8d6;
}

.blocos {
  text-align: center;
  padding: 80px 20px;
  border-radius: 18px;
  margin: 20px;
}

.blocos h1 {
  font-size: 2.8em;
}

.blocos p {
  font-size: 1.2em;
}

.titulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.subtitulos {
  padding: 25px;
  border-radius: 18px;
  transition: transform 0.3s;
}

.subtitulos:hover {
  transform: translateY(-5px);
}

.subtitulos h2 {
  color: #9b3f5f;
}

footer {
   background: linear-gradient(90deg, #f8b4c4, #e07a9a);
  color: white;
  text-align: center;
  padding: 15px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 0.8rem;
    padding: 12px;
  }
}
